

  #section1 {color: #fff; width: 100%;}

  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #22424B;}

  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #333;}

  #section4 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}

  #section5 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}
  
  .container-fluid{
    background-attachment: fixed;
  }