$verde : #008E97;
$naranja : #F58220;

$azul : #005778;
body {
  h1{
    font-family:amatic_scbold;
  }
  h2,h3{
    font-family: amatic_scregular;
  }
	.slider-wrap{
		position: relative;
		overflow-x: hidden;
		.slider{
			margin-bottom: 1;
			.slick-dots{
				top: 0 !important;
				bottom: 0 !important;
				height: 3rem;
				li:nth-child(1){
					button{
						&:before{
							color:$verde;

							font-size: 1.5rem;
						}
					}
				}
				li:nth-child(2){
					button{
						&:before{
							color:$naranja;
							font-size: 1.5rem;
						}

					}
				}
				li:nth-child(3){
					button{
						&:before{
							color:$azul;
							font-size: 1.5rem;
						}
					}
				}
			}
			.slider-data{
				height: 100vh;
				position: relative;
				.img-slide-main{

				}
				.slidermask{
					position: absolute;
					top: 50%;
					width: 100%;
					text-align: center;
					h3{
						color: white;
						text-transform:uppercase;
						font-size: 10vw;
						font-family: amatic_scregular;
            background: rgba(178,235,234, 0.2);
					}
					p{
						color: orange;
						text-transform:uppercase;
						font-weight: bold;
						font-size: 2.5vw;
            font-family: amatic_scbold;
					}
				}
			}
		}
		.icono-down{
			position: absolute;
    	bottom: 0;
  	  left: 50%;
    	transform: translate(-50%, -50%);
			border: 1px solid white;
			border-radius: 100%;
			width: 1rem;
			height: 1rem;
			line-height: 1rem;
			text-align: center;
			.fa-angle-down{
				color: white;
				font-size: 1rem;
			}
		}
	}
	#section1{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $verde;
		.jumbotron{
			h1{
				font-size: 3rem;
			}
			p{
				font-size: 2rem;
			}
		}
	}
	#section2{
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		.servicio{
			h1{

			}
			.row{
				.servicios{

				}
			}
		}
	}
	#section3{

	}
	#section5{
		.ubicacion{
			ul{
				list-style: none;
				li{
				}
			}
		}
	}
}

.parallax {
	color: #FF8500;
	position: relative;
	opacity: 0.90;
	/* The image used */
	background-image: url('../image/48.jpg');
	/* Full height */
	height: 50%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

@media only screen and (max-device-width: 300px) {
	.parallax {
	background-attachment: scroll;
	}
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
}


.container1 {
	padding: 0;
	border: 20;
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
	background-color: #F58220;

}

.text{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.servicios h1 {

	border-bottom: 6px;
	border-bottom-style: solid;
	border-bottom-color: #0091A0;
}
.container-fluid{

}
