body {
	.slider-wrap{
		position: relative;
		.slider{
			.slider-data{
				height: 100vh;
				position: relative;
				.img-slide-main{

				}
				.slidermask{
					position: absolute;
					top: 50%;
					width: 100%;
					background:rgba(#008E97, 0.7);
					text-align: center;
					h3{
						color: white;
						text-transform: uppercase;
					}
					p{
						color: orange;
						text-transform:capitalize;
						font-weight: bold;
					}
				}
			}
		}
		.icono-down{
			position: absolute;
    	bottom: 0;
  	  left: 50%;
    	transform: translate(-50%, -50%);
			.fa-angle-down{
			}
		}
	}
}

div {
	margin: 0;
    padding: 0;

    border: 0;
    font-size: 100%;
}

.parallax {
	color: #FF8500;
	position: relative;
	opacity: 0.90;
	/* The image used */
	background-image: url('../image/48.jpg');
	/* Full height */
	height: 50%;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}


@media only screen and (max-device-width: 300px) {
	.parallax {
	background-attachment: scroll;
	}
}

.caption span.border {
	background-color: #111;
	color: #fff;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 10px;
}


.container1 {
	padding: 0;
	border: 20;
	margin: 0;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease-in-out;
	-webkit-transition: .5s ease-in-out;
	background-color: #F58220;

}



.text{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.servicios h1 {

	border-bottom: 6px;
	border-bottom-style: solid;
	border-bottom-color: #0091A0;
}
.container-fluid{
  background-attachment: fixed !important;
  background-size: 600px !important;
}
